.wrapper{
    /* width:160px */
    height: 235px;
    width: 160px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-top: 10px;
}

.card{
    /* position: relative;
    width: 160px;
    height: 205px;
    border-radius: 10px;
    overflow: hidden; */
    border-radius: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.banner{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:42px;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    padding: 6px;
}

.pill{
    font-size: 12px;
    border-radius: 10px;
    background-color:var(--color-black) ;
    width:max-content ;
    padding: 6px;

}

.titleWrapper{
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display:-webkit-box;
    -webkit-box-orient:vertical ;
}

.chip{
    background-color: var(--color-black);
    color: white;
}

/* .card img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    max-width: 100%; 
    max-height: 100%;
} */

.cardimgframe {
    width: 100%;
    height: 170px;
 }

 
 .cardimgframe img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
 }
