.header{
    display:flex;
    justify-content:space-between;
    align-items:baseline;
}

.toogleText{
    
    cursor: pointer;
    color: var(--color-primary);
}

.cardsWrapper{
    margin-top:18px;
}

.wrapper{

    display:flex;
    gap: 40px;
    flex-wrap:wrap;
}

.filterWrapper{
    margin-top: 15px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  }

.carousel-card {
   
    width: 40px; 
     height: 30px; 
        }

  .toogleText {
    cursor: pointer;
    color: var(--color-primary);
  }
  